@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.navbar-m {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    background-color: #1C2321;
    top: 0;
    padding: 9px;
    opacity: 1;
}

.navbar_mid {
    font-weight: 500;
}

.navbar_logo {
    font-size: 36px;
    font-weight: bold;
    color: #DDE2E4;
}

.navbar_mid a {
    padding: 0 15px;
    list-style: none;
    text-decoration: none;
    font-weight: 600;
    color: #DDE2E4;
}

.navbar_mid li a:hover {
    color: #ff7f7f;
    transition: .2s ease-in;
}

.center {
    top: 50%;
    width: 35px;
    height: 32px;
}

.center:before,
.center:after,
.center div {
    background: #DDE2E4;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
}

.center:hover:before {
    transform: translateY(12px) rotate(135deg);
}

.center:hover:after {
    transform: translateY(-12px) rotate(-135deg);
}

.center:hover div {
    transform: scale(0);
}

.firstSection {
    height: 426px;
    background-color: #7D98A1;
}

.box-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75%;
    padding-top: 25px;
}

.firstHalf {
    width: 38%;
    padding: 10px;
    color: #FFFAE3;
}

.firstHalf div{
    display: flex;
    justify-content: center;
    padding: 11px 0;
}

.secondHalf {
    width: 25%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-right: 20px;
}

.secondHalf img{
    width: 155%;
}

.firstPera {
    justify-content: center;
    display: flex;
    padding: 10px 0;
}

.secondPera {
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
    line-height: 1.5;
}

.custom-shape-divider-bottom-1669726152 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1669726152 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 130px;
}

.custom-shape-divider-bottom-1669726152 .shape-fill {
    fill: #FFFFFF;
}
