@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.navbar-m {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    background-color: #1C2321;
    top: 0;
    padding: 9px;
    opacity: 1;
}

.navbar_mid {
    font-weight: 500;
}

.navbar_logo {
    font-size: 36px;
    font-weight: bold;
    color: #DDE2E4;
}

.navbar_mid a {
    padding: 0 15px;
    list-style: none;
    text-decoration: none;
    font-weight: 600;
    color: #DDE2E4;
}

.navbar_mid li a:hover {
    color: #ff7f7f;
    transition: .2s ease-in;
}

.center {
    top: 50%;
    width: 35px;
    height: 32px;
}

.center:before,
.center:after,
.center div {
    background: #DDE2E4;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
}

.center:hover:before {
    transform: translateY(12px) rotate(135deg);
}

.center:hover:after {
    transform: translateY(-12px) rotate(-135deg);
}

.center:hover div {
    transform: scale(0);
}

.firstSection {
    height: 426px;
    background-color: #7D98A1;
}

.box-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75%;
    padding-top: 25px;
}

.firstHalf {
    width: 38%;
    padding: 10px;
    color: #FFFAE3;
}

.firstHalf div {
    display: flex;
    justify-content: center;
    padding: 11px 0;
}

.secondHalf {
    width: 25%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-right: 20px;
}

.secondHalf img {
    width: 155%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(43, 43, 43, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(43, 43, 43, 1);
    box-shadow: 10px 10px 5px 0px rgba(43, 43, 43, 1);
}

.firstPera {
    justify-content: center;
    display: flex;
    padding: 10px 0;
}

.secondPera {
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
    line-height: 1.5;
}

.custom-shape-divider-bottom-1669726152 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1669726152 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 130px;
}

.custom-shape-divider-bottom-1669726152 .shape-fill {
    fill: #FFFFFF;
}

.secondSection {
    background-color: var(--veryLightGray);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 10px;
    color: #1C2321;
    font-size: 17px;
    font-weight: 600;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);
}

h1:last-of-type {
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.title-big {
    text-align: center;
    line-height: 1.8;
    margin-bottom: 50px;
    margin-top: 50px;
}

.title-big p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .title-big p {
        width: 30%;
    }
    
}