@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@400;500&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --black:hsl(90, 12%, 7%);
    --bluishBlack: hsl(189, 11%, 37%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}


.font-family-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.link-style {
    list-style: none;
    text-decoration: none;
}

.font-size-35 {
    font-size: 35px;
}

.font-weight-bold {
    font-weight: bold;
}

.border-red {
    border: 2px solid red;
}

.background-gradient {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(120, 9, 121, 1) 34%, rgba(0, 212, 255, 1) 100%);
}

.btn {
    color: #EEF1EF;
    padding: 10px;
    margin: 0 10px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.btn-light{
    background-color: whitesmoke;
    color: black;
}

.btn-light:hover{
    background-color: rgb(219, 219, 219);
    transition: .3s ease-in-out;
    box-shadow: 0 3px 8px rgb(0 0 0 / 50%);
}

.btn-dark{
    background-color: var(--black);
    color: whitesmoke;
}

.btn-dark:hover{
    background-color: var(--bluishBlack);
    transition: .3s ease-in-out;
    box-shadow: 0 3px 8px rgb(0 0 0 / 50%);
}

.border-top-red {
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #ee3d32;
    max-width: 100%;
    width: 60px;
    margin-top: 10px;
}

.border-top-green {
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color:#56ba4b;
    max-width: 100%;
    width: 60px;
    margin-top: 10px;
}

.float-right {
    float: right;
}

.padding-lr-80 {
    padding-left: 80px;
    padding-right: 80px;
}

.padding-tb-7 {
    padding-top: 7px;
    padding-bottom: 7px;
}

.color-grayishblue {
    color: var(--grayishBlue);
}